.select{
    border: 1px solid black;
    margin: 5px;
    display: inline-block;
    width:200px;
    height: 200px;

}

.upperBtn{
    margin:10px;
}

.log{
    border:solid 1px black;
    width:825px;
    height:250px;
    overflow: auto;
    margin: auto;
}